/* Global */

body {
  font-family: Arial;
  font-size: 12px;
}


/* Nav */
#navbar {
   float: left;
   position: fixed;
}

header h1 {
  background-image: url();
}

#welcome-section {
  height=
}

.about-me {

}

#projects-section {


}

footer {

}
